.imagem2 {
  background-image: url(https://img.freepik.com/free-vector/men-women-welcoming-people-with-disabilities-group-people-meeting-blind-female-character-male-wheelchair_74855-18436.jpg?w=2000);
  background-repeat: no-repeat;
  width: 100vh;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.textos2 {
  font-weight: bold !important;
}

.btnCancelar {
  margin-right: 20px !important;
}
