.cursor{
    cursor: pointer;
}

.configBotao11{
    display:center;
    justify-content: center;
    flex-flow:row wrap;   
}
.botao11{
    background-color: #74477d !important;
    color: white !important;
    font-size: 10px;
    letter-spacing: 2px !important;
    margin-left: 5px;
    right: 5%;
    
}
