.caixa{
    background-color: #b9eb90;
    background-image: url(https://imgur.com/MVZb9vz.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.titulo{
    color: #2bcb53 !important;
    font-weight: bold;

}
.postagens{
    background-color: #210404 !important;
}
.loginPage{
    width: 500vw;
    min-height: calc(100vh-64px);
}
.altura{
    min-height: 10vh !important;
}
.imagem{
    width: 50vw;
}
.titulo3{
    color: #2b50cb !important;
    font-weight: bold;
}
.titulo2{
    color: #8a1dcd !important;
    font-weight: bold;
}
.botao20{
    background-color: #74477d !important;
    color: white !important;
    font-size: 10px;
    letter-spacing: 2px !important;
    right: -42%;
}
.configBotao10{
    display:center;
    justify-content: center;
    flex-flow:wrap;    
}
.configBotao11{
    color: white !important;
    font-size: 10px;
    letter-spacing: 2px !important;
    margin-left: 5px;
    right: 5%;
}
.botao22{
    display:flex;
    justify-content: center;
    flex-flow:wrap;
    background-color: #74477d !important;
    color: white !important;
    font-size: 10px;
    letter-spacing: 2px !important;
    margin-left: 10px;
    right: 5%;
    height: 100%;
}


/* paleta de cores interessantes - acrescentem cores que curtam também :) 
e depois verificamos se está nos padrões de acessibilidade

#b9eb90;
#3f1158 
#E4AFFF;
#FFF268

#f9e1e0
#ccb6b5
#615a67
#8a638b
#ebb5de
#df8cf3
#582951
#a13e3e
#ac8975
#855741
#6e533e
#f5ae90
#f9c2aa
#f0946e
#ea7442
#ffbd59
*/